@page
@model IndexModel

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Paul Was Here and is feeling grand!</p>
</div>

@section Scripts {
    <p>HELLOOOOOO!!</p>
}

@section Bubba {
    <ul>
        <li>Bubba</li>
        <li>Bobby</li>
        <li>Sally</li>
        <li>Beatrice</li>
    </ul>
}