@page
@model occam.About.IndexModel

<html>
    <head>
        <link rel="stylesheet" href="~/main.css" type="text/css" />
    </head>
    <body>
        <h1>ABOUT ME</h1>
        <p>I ROCK!!!</p>
    </body>
</html>