@using PartialTest.Models
@model Book

<div class="book">
    <div class="isbn">
        @Model.ISBN
    </div>
    <div class="title">
        @Model.Title
    </div>
    <div class="author">
        @Model.Author
    </div>
    <div class="page-count">
        @Model.PageCount
    </div>
</div>
